body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
}

.container {
  width: 990px;
  height: 100px;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
}
