:root {
  --bg-color: #fff;
  --bg-secund: #000;
  --font-color: green;
  --font-size-small: pink;
}

body {
  background-color: var(--bg-color);
}

h1 {
  color: var(--font-color);
}

.container {
  /* para o espaço pegar na esquerda */
  margin-left: auto;
  width: calc(100% - 500px);
  height: 300px;
  background-color: purple;
}

p {
  background-color: #000;
  color: var(--bg-color);
}

@media (max-width: 400px) {
  body {
    background-color: var(--font-size-small);
  }
}
